body {
  margin: 0;
}

@font-face {
  font-family: 'Pixel';
  src: url('font/Pixel-LCD-7.woff') format('woff');
}

@font-face {
  font-family: 'PressStart2P';
  src: url('font/PressStart2P.ttf') format('truetype');
}
